*.o
*.pyc
*.so
*.pyo
*.cfg
chains/
EXAMPLE_EVALUATE2-checkpoint.ipynb
EXAMPLE_EVALUATE1-checkpoint.ipynb
EXAMPLE_EVALUATE3-checkpoint.ipynb
.ipynb_checkpoints
interface/.DS_Store
.DS_Store
likelihood/.DS_Store
scripts/.DS_Store
data/.DS_Store
